= content_for :top do
  = render 'layouts/topbar'
  = render 'layouts/header'
  = render 'layouts/about'
  = render 'layouts/services'
  = render 'layouts/catalog'
  = render 'layouts/clients'
  = render 'layouts/contact'

= content_for :bottom do
  = render 'layouts/copyright'


