.row
  .columns.small-12
    %h1 Стили Мебели
    %hr
    %ul.no-bullet
      - Style.all.each do |style|
        %li
          %h3= link_to style.name, style_path(style)
        %ul.small-block-grid-10
          - style.units.each do |unit|
            %li
              %a.th{href: "#{style_unit_path(style, unit.id)}"}
                = image_tag unit.image_url(:thumb).to_s
        %ul.button-group
          %li
            = link_to 'Edit', edit_style_path(style), class: 'button tiny'
          %li
            = link_to 'Добавить объект', new_style_unit_path(style_id: style.id), class: 'button success tiny'
        %hr

    = link_to 'Добавить стиль', new_style_path, class: 'button success'


