%p#notice= notice

%p
  %b Name:
  = @style.name

%p
  - @style.units.each do |unit|
    %h1
      = @unit.name
    = if @unit.price?
      .columns.small-12.medium-3
        %h1.right
          %span $
          %span= @unit.price
    %p
      %a.th
        = image_tag @unit.image_url(:large).to_s, data: {interchange: "[#{@unit.image_url(:small).to_s}, (small)], [#{@unit.image_url(:medium).to_s}, (medium)], [#{@unit.image_url(:large).to_s}, (large)]"}
    %h3
      %span Стиль:
      %span= @unit.style
        
= link_to 'Добавить объект', new_style_unit_path(style_id: @style.id)
\|
= link_to 'Edit', edit_style_path(@style)
\|
= link_to 'Back', styles_path
