%h1 Каталог мебели

%table
  %tr
    %th Название
    %th Фотография
    %th Стиль
    %th Стоимость $
    %th
    %th
    %th

  - @units.each do |unit|
    %tr
      %td= unit.name
      %td= image_tag unit.image_url(:thumb).to_s
      %td= unit.style
      %td= unit.price
      %td= link_to 'Просмотреть', unit
      %td= link_to 'Редактировать', edit_unit_path(unit)
      %td= link_to 'Удалить', unit, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'New Unit', new_unit_path
