%h1 Каталог мебели

%table
  %tr
    %th Название
    %th Фотография
    %th Стиль
    %th Стоимость $
    %th
    %th
    %th

  - @units.each do |unit|
    %tr
      %td= unit.name
      %td= image_tag unit.image_url(:thumb).to_s
      %td= unit.style.try(:name)
      %td= unit.price
      %td= unit
      %td= link_to 'Просмотреть', style_unit_path(@style, unit.id)
      %td= link_to 'Редактировать', edit_style_unit_path(@style, unit)
      %td= link_to 'Удалить', style_unit_path(@style, unit), :method => :delete, :data => { :confirm => 'Вы уверены?' }
        

%br
=link_to "New Unit", new_style_unit_path(@style)

