%h1= @style.name

%table
  %tr
    %th Название
    %th Фотография
    %th Стиль
    %th Стоимость $
    %th
    %th
    %th

  - @units.each do |unit|
    %tr
      %td= unit.name
      %td= image_tag unit.image_url(:thumb).to_s
      %td= unit.style.try(:name)
      %td= unit.price
      %td= link_to 'Просмотреть', style_unit_path(@style, unit.id), class: 'button tiny secondary'
      %td= link_to 'Редактировать', edit_style_unit_path(@style, unit), class: 'button tiny'
      %td= link_to 'Удалить', style_unit_path(@style, unit), :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'button tiny alert'
        

%ul.button-group
  %li
    = link_to "New Unit", new_style_unit_path(@style), class: 'button success'
  %li
    = link_to 'Back', style_path(@style), class: 'button secondary'
