%p#notice= notice

.units
  .columns.small-12.medium-9
    %h1
      = @unit.name
  .columns.small-12.medium-3
    %h1.right
      %span= "$" + @unit.price.to_s if @unit.price.present?
  %p
    %a.th
      = image_tag @unit.image_url(:large).to_s, data: {interchange: "[#{@unit.image_url(:small).to_s}, (small)], [#{@unit.image_url(:medium).to_s}, (medium)], [#{@unit.image_url(:large).to_s}, (large)]"}
  %h3
    %span Стиль:
    %span= @unit.style.try(:name)

%ul.button-group
  %li
    = link_to 'Назад', style_units_path(@style), class: 'button secondary'
  %li
    = link_to 'Редактировать', edit_style_unit_path(@style, @unit), class: 'button'
  %li
    = link_to 'Создать новый', new_style_unit_path(@style, @unit), class: 'button success'
  %li
    = link_to 'Удалить', style_unit_path(@style, @unit), :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'button alert'

