!!! 5
%html{lang: "ru"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      = content_for?(:title) ? yield(:title) : "Mebellook"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    = yield :top
    %main
      .row
        .columns.small-12.white
          = yield
    = yield :bottom
    = javascript_include_tag "application"
